{% extends 'base.html' %}
{% block content %}
<h5>
    <a href="/">Home</a> > <a href="/dishes/all">Dish</a> > {{dish.name}}
</h5>
<h1>
    {{dish.name}}
</h1>

<img src="{{dish.image_url}}" alt="">

{% if like %}
<p><b>Saved</b></p>
{% else %}
<form method="POST" action="/dishes/{{dish.id}}/save">
    <button>Save Recipe</button>
</form>
{% endif %}

<h3>Ingredients</h3>
<ul>
    {% for r,i in ingredients_list %}
    <li>
        {{r.ingredient_amount}} <a href="/ingredients/{{i.id}}">{{i.name}}</a>
    </li>
    {% endfor %}

</ul>

<h3>Instructions</h3>
<p>
    {{dish.instructions}}
</p>
{% endblock %}